<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="SeeiTOi_TestSuite">
    <classes>
      
      <!-- <class name="seeitoi.RecordingTab">  -->  <!-- seeitoi is package name & .RecordingTab is class name -->
      <!-- <class name="seeitoi.Generic"> -->
      	   <class name="seeitoi.LoginPage_TestScenario">
           
      <methods>
      	   <include name="testLoginValid"/>
	  </methods>
	  
	  </class>	  
    </classes>
  </test> <!-- SeeiTOi_TestSuite -->
</suite> <!-- Suite -->
